$white: #fff;
$light-gray: #efefef;
$soft-gray: #ececec;
$gray: #EAEAEA;
$table-background: #6d6d6d;
$error-red: #ff0000;
$error-red-prehover: #ff7a7a;
$orange-btn: #ff9900;
$green-confirm: #009e1a;
$link-color: #0d6efd;
$link-color--hover: #003f9c;
$dark-gray: #222222;
$dark-input: #414141;
$dark: #212529;
$black: #000;


$background: #F8F8F8;
$primary: #FF3E79;
$secondary: #41F6D7;
$border-color: #B8FFEC;
$grey-text: #7E7E82;
$black-text: #1B1C21;
